body {
  font-family: "Inconsolata", monospace;
}

.nav-bar {
  /* background-color: #f0a8d0; */
  background-color: #c75b7a;
  color: black;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0px;
  font-size: 18px;
  margin-top: 0;
}

.nav-bar .logo {
  margin-right: auto;
  padding-left: 20px;
}

.nav-links li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 20px;
}

.nav-bar a {
  color: white;
}

.header {
  margin-top: 20px;
  text-align: center;
  font-size: 27px;
  color: black;
}

.introduction {
  display: flex;
  justify-content: center;
  padding: 30px;
  border-radius: 20px;
}

.introduction .pic-container {
  padding: 20px;
  display: flex;
  border-radius: 20px;
  width: 400px;
}

.introduction img {
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.introduction .intro-content {
  width: 50%;
  padding-left: 35px;
  font-size: 20px;
}

.introduction .intro-content li {
  padding: 10px 0px;
}

.category-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 70px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.category {
  display: flex;
  flex-direction: row;
}

.sub {
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0px 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  height: 550px;
  width: 400px;
}

.category-img-container {
  border-radius: 20px;
  display: flex;
}

.category-img-container img {
  width: 100%;
  border-radius: 30px;
}

.sub-header {
  text-align: center;
  color: #c75b7a;
}

.sub a {
  color: #921a40;
}

.sub p {
  letter-spacing: 1px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  margin: 50px 0px 70px 0px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-pic-container {
  display: flex;
  height: 400px;
  width: 350px;
  margin-left: 20px;
}

.contact-pic-container img {
  width: 100%;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contact-content {
  padding-right: 20px;
  font-size: 20px;
  width: 50%;
}

.contact-content li {
  color: #c75b7a;
  padding: 10px 0px;
}

.footer-container {
  background-color: #c75b7a;
  padding-top: 10px;
  text-align: center;
}

.footer-container a {
  color: white;
  padding: 0px 5px;
}
