body {
  font-family: "Inconsolata", monospace;
}

.nav-bar {
  background-color: #86ab89;
  color: black;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 15px 0px;
  font-size: 18px;
}

.nav-bar .logo {
  margin-right: auto;
  padding-left: 20px;
}

.nav-links li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 20px;
}

.nav-bar a {
  color: #e7fbe6;
}

.header {
  text-align: center;
  padding: 20px;
  font-size: 27px;
  color: black;
}

.introduction {
  display: flex;
  justify-content: center;
  padding: 30px;
  border-radius: 20px;
}

.introduction .pic-container {
  padding: 20px;
  display: flex;
  border-radius: 20px;
  width: 400px;
}

.introduction img {
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.introduction .intro-content {
  width: 50%;
  padding-left: 35px;
  font-size: 20px;
}

.introduction .intro-content li {
  padding: 10px 0px;
}

.category-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.category {
  display: flex;
  flex-direction: row;
}

.sub {
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0px 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  height: 550px;
  width: 400px;
}

.category-img-container {
  border-radius: 20px;
  display: flex;
}

.category-img-container img {
  width: 100%;
  border-radius: 30px;
}

.sub-header {
  text-align: center;
  color: #c75b7a;
}

.sub a {
  color: #c75b7a;
}

.sub p {
  letter-spacing: 1px;
}
